server:
  port: 80
  database: /home/filebrowser/database.db
  sources:
    - path: "/srv/salt_custom/"
      name: "Salt Custom"
      config:
        denyByDefault: false
        private: false
        disabled: false
        indexingIntervalMinutes: 0
        disableIndexing: false
        conditionals:
          hidden: false
          ignoreHidden: false
          ignoreZeroSizeFolders: false
        defaultEnabled: true
        createUserDir: false
    # RW access is danger!
    - path: "/srv/saltbox_salt/"
      name: "Config Boxes"
      config:
        denyByDefault: false
        private: false
        disabled: false
        indexingIntervalMinutes: 0
        disableIndexing: false
        conditionals:
          hidden: false
          ignoreHidden: false
          ignoreZeroSizeFolders: false
        defaultEnabled: true
        createUserDir: false
    # RW access is danger!
    - path: "/srv/sshfs/"
      name: "SSHFS"
      config:
        denyByDefault: false
        private: false
        disabled: false
        indexingIntervalMinutes: 0
        disableIndexing: false
        conditionals:
          hidden: false
          ignoreHidden: false
          ignoreZeroSizeFolders: false
        defaultEnabled: true
        createUserDir: false
${MIGRATOR_SOURCE_BLOCK}
  logging:
    # Terminal
    - output: stdout
      levels: "info|warning|error"
      apiLevels: disabled
    # API logs
    - output: "api-events.log"
      levels: disabled
    # Errors
    - output: "errors.log"
      levels: "error|warning"
      apiLevels: disabled
auth:
  methods:
    noauth: true
userDefaults:
  editorQuickSave: true
  hideSidebarFileActions: false
  disableQuickToggles: false
  disableSearchOptions: false
  darkMode: false
  locale: "en"
  showHidden: true
  quickDownload: true
  preview:
    disableHideSidebar: false
    highQuality: true
    image: true
    video: true
    motionVideoPreview: true
    popup: true
    autoplayMedia: true
    defaultMediaPlayer: false
    folder: true
  permissions:
    api: true
    admin: true
    modify: true
    share: true
    realtime: true
    delete: true
    create: true
    download: true
